<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientKey</key>
	<string>BA3cVaIQQYFirkKpVvsla5CJ1rgfqxZumnZSRQsQ</string>
	<key>parseAppId</key>
	<string>OTDbLCtoJONPyN2hCI8WphotV1X26iOiUMs5PZwx</string>
</dict>
</plist>
